{% extends 'base.html.twig' %}

{% block title %}{{ 'Type list'|trans }}{% endblock %}

{% block body %}
<div data-controller="admin-index">
  <h1>{{ 'Type list'|trans }}</h1>
  <p><a class="btn btn-primary" role="button" href="{{ path('app_admin_type_create') }}">{{ 'Add new'|trans }}</a></p>
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th colspan="2">{{ 'Actions'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for type in types %}
      <tr>
        <td>{{ type.getId() }}</td>
        <td>{{ type.getName() }}</td>
        <td>{{ type.getCreatedAt().format('H:i:s d.m.Y') }}</td>
        <td>{{ type.getUpdatedAt().format('H:i:s d.m.Y') }}</td>
        <td><a class="btn btn-outline-primary" href="{{ path('app_admin_type_edit', {id: type.getId()}) }}">{{ 'Edit'|trans }}</a></td>
        <td><a class="btn btn-outline-danger btn-del" data-item-id-param="{{ type.getId() }}" onclick="window.deleteRow({{ type.getId() }});" href="{{ path('app_admin_type_destroy', {id: type.getId()}) }}">{{ 'Delete'|trans }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}