{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit'|trans }} {{ 'Type'|trans }}{% endblock %}

{% block body %}
  <h1>{{ 'Edit'|trans }} {{ 'Type'|trans }}</h1>
  {{ form(typeForm) }}
{% endblock %}
