{% extends 'base.html.twig' %}

{% block title %}{{ 'Admin Tools'|trans }}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">{{ 'Home'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'Admin Tools'|trans }}</li>
  </ol>
</nav>
<h1>{{ 'Admin Tools'|trans }}</h1>
<h2>{{ 'Edit'|trans }}</h2>
<ul class="list-group">
  <li><a class="list-group-item list-group-item-action" href="{{ path('app_admin_device') }}">{{ 'Devices'|trans }}</a></li>
  <li><a class="list-group-item list-group-item-action" href="{{ path('app_admin_parameter') }}">{{ 'Parameters'|trans }}</a></li>
  <li><a class="list-group-item list-group-item-action" href="{{ path('app_admin_av_parameter') }}">{{ 'Available parameters'|trans }}</a></li>
  <li><a class="list-group-item list-group-item-action" href="{{ path('app_admin_param_option') }}">{{ 'Parameter Options'|trans }}</a></li>
  <li><a class="list-group-item list-group-item-action" href="{{ path('app_admin_type') }}">{{ 'Types'|trans }}</a></li>
  <li><a class="list-group-item list-group-item-action" href="{{ path('app_admin_vendor') }}">{{ 'Vendors'|trans }}</a></li>
  <li><a class="list-group-item list-group-item-action" href="{{ path('app_admin_country') }}">{{ 'Countries'|trans }}</a></li>
</ul>
{% endblock %}