{% extends 'base.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'Home'|trans }} {{ 'page'|trans }}</h1>
<h2>{{ 'Tools'|trans }}</h2>
<ul>
  <li><a href="{{ path('app_admin') }}">{{ 'Admin Tools'|trans }}</a></li>
  <li><a href="{{ path('app_profile') }}">{{ 'User Profile'|trans }}</a></li>
</ul>
{% endblock %}