{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit'|trans }} {{ 'Available parameters'|trans }}{% endblock %}

{% block body %}
  <h1>{{ 'Edit'|trans }} {{ 'Available parameters'|trans }}</h1>
  {{ form(avParameterForm) }}
{% endblock %}
