{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit'|trans }} {{ 'Device'|trans }}{% endblock %}

{% block body %}
  <h1>{{ 'Edit'|trans }} {{ 'Device'|trans }}</h1>
  {{ form(deviceForm) }}
{% endblock %}
