{% extends 'base.html.twig' %}

{% block title %}{{ 'Device list'|trans }}{% endblock %}

{% block body %}
<div data-controller="admin-index">
  <h1>{{ 'Device list'|trans }}</h1>
  <p>
    <label for="select-type">{{ 'Type'|trans }}</label>
    <select class="form-select" id="select-type" data-admin-index-target="select" data-action="change->admin-index#change">
      <option value="0" selected="selected">{{ 'All'|trans }}</option>
      {% for type in types %}
      <option value="{{ type.getId() }}">{{ type.getName() }}</option>
      {% endfor %}
    </select>
  </p>
  <p><a class="btn btn-primary" role="button" href="{{ path('app_admin_device_create') }}">{{ 'Add new'|trans }}</a></p>
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>type</th>
        <th>vendor</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th colspan="2">{{ 'Actions'|trans }}</th>
      </tr>
    </thead>
    <tbody data-admin-index-target="rows" data-path="device"></tbody>
  </table>
</div>
{% endblock %}