{% extends 'base.html.twig' %}

{% block title %}Device list{% endblock %}

{% block body %}
<h1>Device list</h1>
<p><a href="{{ path('app_device_create') }}">Add new</a></p>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>type</th>
      <th>vendor</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for device in devices %}
    <tr>
      <td>{{ device.getId() }}</td>
      <td>{{ device.getName() }}</td>
      <td>{{ device.getType().getName() }}</td>
      <td>{{ device.getVendor().getName() }}</td>
      <td>{{ device.getCreatedAt().format('H:i:s d.m.Y') }}</td>
      <td>{{ device.getUpdatedAt().format('H:i:s d.m.Y') }}</td>
      <td><a href="{{ path('app_device_edit', {id: device.getId()}) }}">Edit</a></td>
      <td><a class="btn-del" id="btn-{{ device.getId() }}" href="{{ path('app_device_destroy', {id: device.getId()}) }}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.btn-del').forEach(function(btn) {
      btn.addEventListener('click', function(e) {
        if (!window.confirm('Are you sure to delete device item with id: ' + btn.id.split('-')[1] + '?')) {
          e.preventDefault();
          e.stopPropagation();
        }
      });
    });     
  });
</script>
{% endblock %}