{% extends 'base.html.twig' %}

{% block title %}{{ 'Device'|trans }}{% endblock %}

{% block body %}
<h1>{{ device.name }}</h1>
<h4>{{ 'Parameters'|trans }}</h4>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>{{ 'Parameter'|trans }}</th>
      <th>{{ 'Value'|trans }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{ 'Type'|trans }}</th>
      <td>{{ device.getType().getName() }}</td>
    </tr>
    <tr>
      <th>{{ 'Vendor'|trans }}</th>
      <td>{{ device.getVendor().getName() }}</td>
    </tr>
  {% for parameter in device.getParameters() %}
    <tr>
      <th>{{ parameter.getAvParameter().getName() }}</th>
      <td>{{ parameter.getValue() ? parameter.getValue().getValue() : parameter.getCustomValue() }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
