{% extends 'base.html.twig' %}

{% block title %}{{ 'Device'|trans }}{% endblock %}

{% block body %}
<div class="row align-items-center">
  <div class="col-auto">
    <img style="max-width: 300px; max-height: 300px;" src="/img/img-{{ device.getId() }}.jpg" alt="{{ device.getName() }} фото">
  </div>
  <div class="col">
    <h1>{{ device.getName()[:1]|upper ~ device.getName()[1:] }}</h1>
  </div>
</div>
<h4>{{ 'Parameters'|trans }}</h4>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>{{ 'Parameter'|trans }}</th>
      <th>{{ 'Value'|trans }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{ 'Type'|trans }}</th>
      <td>{{ device.getType().getName() }}</td>
    </tr>
    <tr>
      <th>{{ 'Vendor'|trans }}</th>
      <td>{{ device.getVendor().getName() }}</td>
    </tr>
  {% for parameter in device.getParameters() %}
    <tr>
      <th>{{ parameter.getAvParameter().getName() }}</th>
      <td>{{ parameter.getValue() ? parameter.getValue().getValue() : parameter.getCustomValue() }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
