{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
<h1>{{ device.name }}</h1>
<h4>Parameters</h4>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Type</th>
      <td>{{ device.getType().getName() }}</td>
    </tr>
    <tr>
      <th>Vendor</th>
      <td>{{ device.getVendor().getName() }}</td>
    </tr>
  {% for parameter in device.getParameters() %}
    <tr>
      <th>{{ parameter.getAvParameter().getName() }}</th>
      <td>{{ parameter.getValue() ? parameter.getValue().getValue() : parameter.getCustomValue() }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
