{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit'|trans }} {{ 'Country'|trans }}{% endblock %}

{% block body %}
  <h1>{{ 'Edit'|trans }} {{ 'Country'|trans }}</h1>
  {{ form(countryForm) }}
{% endblock %}
