{% extends 'base.html.twig' %}

{% block title %}{{ 'Main'|trans }}{% endblock %}

{% block body %}
<div data-controller="index">
  <div class="row" >
    <div class="col">
      <label for="select-device">{{ 'Type'|trans }}</label>
      <select class="form-select" id="select-device" data-index-target="select" data-action="change->index#change">
        <option value="0" selected="selected">{{ 'All'|trans }}</option>
        {% for type in types %}
        <option value="{{ type.getId() }}">{{ type.getName() }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a data-action="click->index#checkAll" class="btn btn-outline-primary mt-3 me-3" role="button" aria-disabled="false">{{ 'Check all'|trans }}</a>
    </div>
    <div class="col-auto">
      <form method="post" action="/compare">
        <input type="hidden" name="devices" id="devices"/>
        <a data-index-target="btn" data-action="click->index#compare" class="btn btn-primary mt-3 disabled" role="button" aria-disabled="true">{{ 'Compare'|trans }}</a>
      </form>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3" data-index-target="items">
    {% for device in devices %}
    <div class="position-relative mt-3" data-type="{{ device.getType().getId() }}">
      <a href="{{ path('app_device_edit', {id: device.getId()})}}">
        <div class="card card-responsive h-100 shadow">
          <img style="max-width: 200px; max-height: 200px;" src="/img/img-{{ device.getId() }}.jpg" class="card-img-top m-auto mt-3" alt="{{ device.getName() }} фото">
          <div class="card-body pb-1">
            <p class="text-dark">{{ device.getName()[:1]|upper ~ device.getName()[1:] }}</p>
          </div>
        </div>
      </a>
      <div class="form-check position-absolute top-0 end-0 p-3">
        <input class="form-check-input" type="checkbox" data-id="{{ device.getId() }}" title="{{ 'Add to compare'|trans }}" data-index-target="compare" data-action="input->index#switchCompare"/>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
