<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <style> 
            body { font: 18px/1.5 sans-serif; }
            table { width: 100%; }
            table tr:nth-child(odd) td { background-color: #f3f3f3; }
            table th, table td { margin: 5px 10px; }
            #form div label {
              display: inline-block;
              width: 65px;
              margin: 10px;
            }
            #form input, #form select {
              padding: 4px 8px;
              width: 230px;
            }
            #form button {
              margin: 30px 0 0 222px;
              padding: 10px 20px;
              font-size: 18px;
            }
        </style>
        {% block nav %}
        <div>
            {% if app.user %}
            <span>{{ app.user.lastname }} {{ app.user.firstname }}</span>
            <span><a href="{{ url('app_logout') }}">Logout</a></span>
            {% else %}
            <span><a href="{{ url('app_login') }}">Login</a></span>
            {% endif %}
        </div>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
