{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit'|trans }} {{ 'Parameter Options'|trans }}{% endblock %}

{% block body %}
  <h1>{{ 'Edit'|trans }} {{ 'Parameter Options'|trans }}</h1>
  {{ form(paramOptionForm) }}
{% endblock %}
