{% extends 'base.html.twig' %}

{% block title %}{{ 'Parameter list'|trans }}{% endblock %}

{% block body %}
<div data-controller="admin-index">
  <h1>{{ 'Parameter list'|trans }}</h1>
  <p>
    <label for="select-device">{{ 'Device'|trans }}</label>
    <select class="form-select" id="select-device" data-admin-index-target="select" data-action="change->admin-index#change">
      <option value="0" selected="selected">{{ 'All'|trans }}</option>
      {% for device in devices %}
      <option value="{{ device.getId() }}">{{ device.getName() }}</option>
      {% endfor %}
    </select>
  </p>
  <p><a class="btn btn-primary" role="button" href="{{ path('app_admin_parameter_create') }}">{{ 'Add new'|trans }}</a></p>
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>device</th>
        <th>prio</th>
        <th>parameter</th>
        <th>value</th>
        <th>custom_value</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th colspan="2">{{ 'Actions'|trans }}</th>
      </tr>
    </thead>
    <tbody data-admin-index-target="rows" data-path="parameter"></tbody>
  </table>
</div>
{% endblock %}