{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit'|trans }} {{ 'Parameter'|trans }}{% endblock %}

{% block body %}
<div data-controller="admin-show">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">{{ 'Home'|trans }}</a></li>
      <li class="breadcrumb-item"><a href="/admin">{{ 'Admin Tools'|trans }}</a></li>
      <li class="breadcrumb-item"><a href="/admin/parameter">{{ 'Parameters'|trans }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ 'Parameter'|trans }}</li>
    </ol>
  </nav>
  <h1>{{ 'Edit'|trans }} {{ 'Parameter'|trans }}</h1>
  <!--<p>
    <label for="select-device">Type</label>
    <select id="select-device" data-admin-show-target="select" data-action="change->admin-show#change">
      <option value="0" selected="selected">All</option>
      {% for type in types %}
      <option value="{{ type.getId() }}">{{ type.getName() }}</option>
      {% endfor %}
    </select>
  </p>-->
  {{ form(parameterForm) }}
</div>
{% endblock %}
